
  #myMenu {
    background: rgba(100, 135, 121, 0.9);
    width:275px;
    height: 100%;
    position:fixed;
    top: 0;
    padding: 20px 2px 30px 20px;
    margin-top: 50px;
    border-radius: 8px;

    -webkit-transition: left 0.3s;
  }

  #myMenu.menu-active {
    left: 0
  }

  #myMenu.menu-inactive {
    left: -215px;
  }

  .toggleBtn{
    float: right;
  }
