<div class="backImg">
  <div class="content container">
    <h2 class="content-subhead">Categories</h2>
    <form >
      <fieldset>
        <input ng-click="sc.walmartToggle()" type="checkbox" name="name" checked> Walmart
        <br>
        <button class="btnBlue" ng-click="sc.walmartSearch('electronics')" type="submit" name="button">Electronics</button>
        <button class="btnBlue" ng-click="sc.walmartSearch('accessories')"  type="submit" name="button">Accessories</button>
        <button class="btnBlue" ng-click="sc.walmartSearch('womensclothing')" type="submit" name="button">Women's Clothing</button>
        <button class="btnBlue" ng-click="sc.walmartSearch('mensclothing')" type="submit" name="button">Men's Clothing</button>
        <button class="btnBlue" ng-click="sc.walmartSearch('sunglasses')" type="submit" name="button">Sunglasses</button>
      </fieldset>
    </form>
  </div>
</div>

<div class="row itemBox" ng-hide="sc.selected" ng-repeat="item in sc.walmart | orderBy: sc.walmart.customerRating" ng-hide="sc.selected" ng-repeat="item in sc.walmart | orderBy: sc.walmart.customerRating">
  <div class="col-sm-3"></div>
  <div class="col-sm-9 list-group-item clearfix">
    <div class="col-sm-4 text-center">
      <a ui-sref="itemShow({id: item.itemId})"><img ng-src="{{ item.thumbnailImage }}"></a>
    </div>
    <div class="col-sm-8">
      <h3>  <a href="{{item.productUrl}}" target="_blank">{{item.name}}</a> <small>{{ item.salePrice | currency}} </h3>
      <p>
        {{ item.shortDescription | limitTo: sc.textLimit}}
        <span ng-if="item.description.length > sc.textLimit">...</span>
      </p>
    </div>
  </div>
</div>
