
<div class="content">
  <h2 class="content-subhead">Search Walmart</h2>

  <form ng-submit="sc.walmartSearch()">
    <fieldset>
        <!-- <legend>Search Walmart:</legend> -->


        <input ng-model="sc.termino" id="name" type="text" placeholder="Item">

        <button type="submit" class="pure-button pure-button-primary">Search</button>
    </fieldset>
</form>
</div>

<div class="list-group-item clearfix" ng-repeat="item in sc.walmart | orderBy: sc.walmart.customerRating">

      <div class="col-sm-4 text-center">
        <a href="{{item.productUrl}}" target="_blank"><img ng-src="{{ item.thumbnailImage }}"></a>
      </div>
      <div class="col-sm-8">
        <h3>  <a href="{{item.productUrl}}" target="_blank">{{item.name}}</a> <small>{{ item.salePrice | currency}} </h3>
          <!-- <button ng-click="cc.destroyCar(car)" class="btn btn-sm btn-danger">Delete</button></small> -->
        <p>
          {{ item.shortDescription | limitTo: sc.textLimit}}
          <span ng-if="item.description.length > sc.textLimit">...</span>
        </p>
      </div>
</div>
